/*-------------------------------------------------------------------------------------
# FONT_FACE
-------------------------------------------------------------------------------------*/
@font-face {
    src: url("/assets/fonts/BerkshireSwash-Regular.ttf") format("truetype");
    font-family: "Merriweather";
  }

  @font-face {
    src: url("/assets/fonts/BerkshireSwash-Regular.ttf") format("truetype");
    font-family: "Berkshire Swash";
  }

/*-------------------------------------------------------------------------------------
# PALETTE DE COULEURS
-------------------------------------------------------------------------------------*/
:root {
    --bleu: #090C9B; 
    --bleufonce: #003160; 
    --bleugris: #001F3D; 
    --blanc: #F1F1FF; 
    --gris: #D9D9D9; 
}
/*-------------------------------------------------------------------------------------
# FONTS
-------------------------------------------------------------------------------------*/

:root {
    --merriweather: "Merriweather"; 
    --bershire: "Berkshire Swash"; 
}
/*-------------------------------------------------------------------------------------
# STYLES GÉNÉRAUX
-------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
# SECTION HÉRO
-------------------------------------------------------------------------------------*/
