/*-------------------------------------------------------------------------------------
# FONT_FACE
-------------------------------------------------------------------------------------*/
/*
@font-face {
    src: url("/assets/fonts/BerkshireSwash-Regular.ttf") format("truetype");
    font-family: "Merriweather";
  }

  @font-face {
    src: url("/assets/fonts/BerkshireSwash-Regular.ttf") format("truetype");
    font-family: "Berkshire Swash";
  }

/*-------------------------------------------------------------------------------------
# PALETTE DE COULEURS
-------------------------------------------------------------------------------------*/
/*
:root {
  --bleu: #090c9b;
  --bleufonce: #003160;
  --bleugris: #001f3d;
  --blanc: #f1f1ff;
  --gris: #d9d9d9;
}
/*-------------------------------------------------------------------------------------
# FONTS
-------------------------------------------------------------------------------------*/
/*
:root {
  --merriweather: "Merriweather";
  --bershire: "Berkshire Swash";
}
/*-------------------------------------------------------------------------------------
# STYLES GÉNÉRAUX
-------------------------------------------------------------------------------------*/
/*

* {
  margin: 0 auto;
  box-sizing: border-box;
}


h1,
.h1 {
  font-family: var(--bershire);
  font-size: 50px;
  font-weight: 900;
  color: var(--bleugris);
}

h2,
.h2 {
  font-family: var(--bershire);
  font-size: 45px;
  font-weight: lighter;
  color: var(--gris);
}

h3,
.h3 {
  font-family: var(--merriweather);
  font-size: 35px;
  color: var(--bleupale);
}

h4,
.h4 {
  font-family: var(--merriweather);
  font-size: 25px;
  color: var(--blanc);
}

h5,
.h5 {
  font-family: var(--merriweather);
  font-size: 20px;
  color: var(--bleufonce);
}

h6,
.h6 {
  font-family: var(--merriweather);
  font-size: 17px;
  font-weight: bolder;
  color: var(--bleugris);
}
*/

/*-------------------------------------------------------------------------------------
# SECTION HÉRO
-------------------------------------------------------------------------------------*/

body {
  background-color: var(--bs-light);
  font-family: var(--montserrat);
}

.navbar {
  background-color: var(--bs-primary);
}

.logo {
  width: 70px;
}

.h2 {
  font-size: 17px;
  color: var(--bs-light);
}

.profile {
  width: 30px;
  height: auto;
  color: var(--bs-light);
}

footer,
.footer {
  background-color: var(--bs-info);
  padding: 1rem;
  margin-top: 1rem;
  color: var(--bs-light);
  font-size: small;
}

main {
  width: 100%;
  overflow: hidden;
}

.searchbar {
  background-color: var(--bs-secondary);
  width: 100%;
  height: 80px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

input {
  color: var(--bs-secondary);
  border-radius: 40px;
  width: 5px;
  position: relative;
  top: 20px;
}

.btnmenu {
  margin-top: 5px;
  width: 800px;
}

li {
  list-style-type: none;
}

.btn-primary {
  border-radius: 40px;
  border-style: solid;
  border-color: var(--bs-light);
  background-color: var(--bs-secondary);
  border-width: 2px;
}

.btn-primary:hover {
  background-color: var(--bs-light);
  color: var(--bs-secondary);
  border-style: solid;
  border-color: var(--bs-secondary);
  border-width: 2px;
}

hr {
  color: var(--bs-secondary);
}

.card-text {
  font-size: small;
}

.card {
  height: 20vh;
  border-radius: 10px;
  border-color: var(--bs-primary);
  border-width: 4px;
  background-color: var(--bs-secondary);
  color: var(--bs-dark);
}
